.film-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    cursor: pointer;
    grid-gap: 10px;
    border-radius: 10px;
    transition: .3s;
    background-color: var(--card-bgc);
    &:hover {
        transition: .3s;
        background-color: var(--card-hover-bgc);
    }
    & .card-img {
        background-size: cover !important;
        width: 270px;
        height: 350px;
        border-radius: 10px;
    }
    & .card-name {
        font-size: 20px;
        font-weight: 500;
    }
    & .card-title {
        font-size: 13px;
        font-weight: 400;
    }
}