:root {
  --main-color: red;
  --main-hover-color: #ffafaf;
  --main-hover-bgc: #464646;

  --card-bgc: #1b1b1b;
  --card-hover-bgc: #282828;
}


body {
  display: flex;
  background-color: black;
  color: white;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

nav.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  justify-content: space-between;
  padding: .5em 1em .5em .5em;
  border-right: 3px solid var(--main-color);
  & .main-logo {
    font-size: 50px;
    padding: 1em;
    text-align: center;
    cursor: pointer;
  }
  & ul.menu {
    display: flex;
    flex-direction: column;
    & a.active li.menu-element {
      transition: .3s;
      color: white;
      background-color: var(--main-hover-bgc);
      text-decoration: none;
    }
    & li.menu-element {
      color: #7f7d7d;
      text-decoration: underline;
      border-radius: 5px;
      cursor: pointer;
      transition: .3s;
      padding: .75em 1.5em;
      &:hover {
        transition: .3s;
        color: white;
        background-color: var(--main-hover-bgc);
      }
    }
  }
  .auth-container {
    cursor: pointer;
    padding: .75em 1.5em;
    grid-gap: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    transition: .3s;
    &:hover {
      transition: .3s;
      background-color: var(--main-hover-bgc);
    }
  }
}

main {
  padding: 2em;
  flex: 1;
  height: 100%;
  margin-left: 199px;
  overflow: auto;

  & h1.page-name {
    font-size: 30px;
    margin: 1em 0;
  }
}
.films-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 25px;
}